body{
    font-family: 'Lato';
}
.banner{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
}
.banner .button{
    padding: 20px 43px;
    border-radius: 8px;
    background-color: #E55473;
    border: 0;
}
.banner .button > a{
    text-decoration: none;
    padding: 20px 20px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: Lato;
    font-weight: 700;
}
.header-text{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    padding-right: 100px;
}
.banner .header-paragraph{
    color: #27272799;
    display: flex;
    padding-right: 200px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    gap: 32px;
}
.banner .elements{
    padding-top: 80px;
    padding-left: 240px;
    
}
.banner .picture{
    padding-top: 50px;
    padding-right: 240px;
    width: 635px;
    height: 800px;
}
/* Signup page styles */
.signup{
    background: rgba(229, 84, 115, 0.05);
    display: flex;
}
.signup .button{
    padding: 20px 43px;
    border-radius: 8px;
    background-color: #E55473;
    margin-left: 300px;
    border: 0;
}
.signup .elements{
    padding-left: 250px;
    padding-top: 150px;
}
.signup .button > a{
    text-decoration: none;
    padding: 20px 20px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}
.signup .elements > h3{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.signup .elements > p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 100px;
    padding-right: 100px;
}
.signup .image{
    width: 318px;
    height: 420px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 200px;
}
.signup .elements .offer{
    color: #E55473;
}

/* last section */
.bck{
    background-color: #FFFFFF;
    margin: 200px;
    align-items: center;
}
.bck .imgs{
    display: flex;
    width: 300px;
    height: 400px;
    column-gap: 50px;
    justify-content: space-between;
    margin: 50px;
    padding: 100px;
    background-size: 150%;  
}
.bck .imgs .img1{
    background-color: #A7216226;
    background-size: 150%;
}
.bck .imgs .img2{
    background-color: #0597A026;
}
.bck .imgs .img3{
    background-color: #477D1126;
}
.bck h3{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.bck p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    }
/* instagram related styles */
.instagram{
    background-color: #FFFFFF;
    padding-left: 150px;
}
.instagram > h3{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.instagram > p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 650px;
}
.instagram .pictures .img{
    width: 350px;
    height: 400px;
    column-gap: 30px;
    margin: 20px;
}
/* Coupon related styles */
.coupon{
    margin-top: 100px;
    margin-left: 20px;
    height: auto;
    position: relative;
    width: 1530px;
    margin-bottom: 100px;
}
.coupon img{
    width: 100%;
    display: block;
}
.txt{
    position: absolute;
    top: 80px;
    left: 400px;
    font-size: 20px;
    display: inline-block;
}
.inp{
    width: 500px;
    height: 40px;

}
.txt .head{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.txt .para{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.coupon .button{
    border-radius: 8px;
    background-color: #E55473;
    border: 0;
}
.coupon a{
    text-decoration: none;
    padding: 15px 25px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

/* Footer related styles */
.foot{
    background-color: #111010;
    text-align: center;
    padding: 100px 670px;
}
.foothead{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;  
}
.foot .offer{
    color: #E55473;
}
.foot > p{
    color: #FFFFFF;
}
.foot > small{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}